[Unit]
Description=Fake SSH Server (Docker Container)
Documentation=none
After=docker.service
Requires=docker.serviceWants=network-online.target

[Service]
Type=simpleExecStart=/usr/bin/docker run --rm -p 22:22 --name fake-ssh-container fake-ssh-server:v1
ExecStop=/usr/bin/docker stop fake-ssh-container
Restart=on-failure
RestartSec=5s

StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target