# TODO: write it in a right way and test it on machines

[Unit]
Description=b0gus honeypot servers in docker
Documentation=none
After=postgresql.service networking.service
# Requires=docker.serviceWants=network-online.target

[Service]
# TODO: should we really need cmd arguments?
Type=simpleExecStart=/usr/local/bin/b0gus_startup.sh
ExecStop=/usr/bin/docker stop fake-ssh-container
Restart=on-failure
RestartSec=30s
User=www-data
Group=www-data
KillMode=process
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target